  <div *ngFor="let player of players | async" class="panel panel-default">
    <div *ngIf="player | position:playerPos">

      <div class="panel-body">
        <h3>{{player.name}}</h3>
        <div *ngIf="currentRoute === '/'">
          <button type="button" name="button" class="btn btn-default pull-right" (click)="viewPlayer(player)">View {{player.name}}'s details</button>
        </div>
        <div *ngIf="currentRoute === '/manager'">
          <h3>{{player.$key}}</h3>
          <app-edit-player [currentPlayer]="player"></app-edit-player>
        </div>
      </div>
    </div>
  </div>
