<select (change)="onChange($event.target.value)">
  <option value="all" selected="true">All</option>
  <option value="PG">Point Guard</option>
  <option value="SG">Shooting Guard</option>
  <option value="SF">Small Forward</option>
  <option value="PF">Power Forward</option>
  <option value="C">Center</option>
</select>

<div *ngFor="let player of players | async">
  <div *ngIf="player | position:playerPos">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>{{player.name}}</h3>
        <div *ngIf="currentRoute === '/'">
          <button type="button" name="button" class="btn btn-default pull-right" (click)="viewPlayer(player)">View {{player.name}}'s details</button>
        </div>
        <div *ngIf="currentRoute === '/manager'">
          <h3>{{player.$key}}</h3>
          <app-edit-player [currentPlayer]="player"></app-edit-player>
        </div>
      </div>
    </div>
  </div>
</div>
