<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Player to Roster</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Player Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Player position:</label>
        <br>
        <select #newPosition>
            <option value="PG">Point Guard</option>
            <option value="SG">Shooting Guard</option>
            <option value="SF">Small Forward</option>
            <option value="PF">Power Forward</option>
            <option value="C">Center</option>
        </select>
      </div>

      <div>
        <label>Player Number:</label>
        <br>
        <input #newNumber type='number' min='0' max='99' required="true">
      </div>

      <button (click)="submitForm(newName.value, newPosition.value, newNumber.value)">Add</button>
    </div>
  </div>
</div>
