<h4>Edit Player</h4>

<label>Edit Name:</label>
<input [(ngModel)]="currentPlayer.name">
<br>

<!--
<input type="button" name="position" value="PG">
<input type="button" name="position" value="SG">
<input type="button" name="position" value="SF">
<input type="button" name="position" value="PF">
<input type="button" name="position" value="C"> -->

<br>

<label>Player Number:</label>
<input [(ngModel)]="currentPlayer.playerNumber">

<button type="button" class="btn" name="button" (click)="deletePlayerButton(currentPlayer)">Delete</button>
